/* Stili di base del corpo del documento */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #1a2a6c, #caf9ff);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}


/* NAVBAR-UTENTE */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 40px;
  color: #525252;
}

nav {
  background: none;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-img {
  width: 120px;
}

.user-pic {
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}


nav ul {
  width: 100%;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
}

.sub-menu-wrap {
  position: absolute;
  z-index: 5;
  top: 100%;
  right: 10%;
  width: 320px;
  display: none;
  transition: max-height 0.5s ease-in-out;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  /* colore di sfondo verde per il successo */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* assicurati che appaia sopra gli altri elementi */
  font-size: 14px;
}

.sub-menu {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  margin-top: -15px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h2 {
  color: black;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}


.sub-menu-link button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}


.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
  background-attachment: fixed;
}

/* Contenitore principale che contiene il titolo, sottotitolo e barra di ricerca */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 100px 5% 100px 10%;
  margin: 0 auto;
}

/* Stili per i titoli */
h1 {
  font-size: 80px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  align-self: flex-start;
}

/* Animazione per la dissolvenza in entrata */
h1,
h2,
.search-bar,
.home-search-bar {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.5s forwards 0.25s;
}

/* Keyframes per l'animazione */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Stili per il logo */
#site-logo {
  margin: 0;
  padding: 0;
  width: 64px;

}


/*---HOME-SEARCHBAR---*/

.home-search-bar {
  width: 700px;
}

.container .row {
  margin-bottom: 20px;
}

.home-search-bar .col {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
}

.home-search-bar label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  height: 23px;
}

.search-form {
  position: relative;
}

.search-form .location input[type="text"],
.search-form .date-input input[type="text"],
.search-form .date-output input[type="text"] {
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid grey;
  padding-left: 30px;
}

.search-form .date-input input[type="text"],
.search-form .date-output input[type="text"] {
  cursor: pointer;
}


.icon-sb {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Font Awesome';
  font-size: 20px;
  margin-left: 2px;
  margin-right: 20px;
}

.search-form .veicolo select,
.search-form .time-output select,
.search-form .time-input select {
  position: absolute;
  top: 50%;
  left: 77%;
  transform: translate(-33%, -50%);
  width: 33%;
  padding: 20px;
  border: none;
  border-radius: 7px;
  background-color: #ffffff;
  cursor: pointer;
}

.search-form .veicolo select:focus,
.search-form .time-output select:focus,
.search-form .time-input select:focus {
  outline: none;
  border-color: none;
}

.home-search-bar button {
  background-color: #1a2a6c;
  color: #fff;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 7px;
  font-size: 24px;
}

.home-search-bar button i {
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-search-bar button:hover i {
  transform: rotate(360deg) scale(1.2);
}


/*--- USER-SEARCHBAR ---*/
.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 20px 10% 0 10%;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: auto;
  margin-top: 20px;
}

.search-bar input,
.search-bar select {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  flex: 1;
  width: 60%;
}

.search-bar button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* Prepara l'animazione */
  color: #1a2a6c
}


/* Effetto hover per il bottone di ricerca */
.search-bar button:hover {
  transform: rotate(360deg) scale(1.2);
  /* Ruota l'icona quando si passa il mouse sopra */
  color: #fff;
}

/* Reset dei margini e dei padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---LOGIN---*/

/* Stile per il contenitore che avrà lo sfondo spezzato */
.custom-background-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Prima parte dello sfondo (colore superiore) */
.custom-background-container::after {
  content: "";
  position: fixed;
  inset: 0;
  width: 60%;
  height: 100vh;
  background: linear-gradient(to bottom, #caf9ff, #1a2a6c);
  clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
  z-index: -1;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Stile del contenitore del logo e del modulo di accesso */
.logo-form-container {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #1e4beb;
}

/* Stile del logo */
.logo {
  flex: 1;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Stile del modulo di accesso */
.login-form {
  flex: 1;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  color: #333;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  font-weight: bold;
  text-align: left;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form label {
  font-weight: bold;
}

.login-form button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px
}

.login-form button:hover {
  background-color: #0056b3;
}

.additional-links {
  text-align: center;
  margin-top: 40px;
}

.additional-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.additional-links a:hover {
  text-decoration: underline;
}



/* css per profilo utente */
.card {
  margin-left: 30px;
  width: 350px;
  /* Larghezza desiderata */
  height: cover;
  border-radius: 5px;
  /* Bordo arrotondato per la card */
  padding: 40px;
  /* Spaziatura interna */
  margin-right: 20px;
  box-shadow: 3px 3px 5px rgba(0.3, 0.2, 0.9, 0.7);
  background-color: #F5F5F5;
}


.card a {
  text-align: center;
  color: grey;
  line-height: 100px;
}

.card-wrap {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-wrap:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 250px;
  /* Larghezza desiderata per il contenitore quadrato */
  height: 250px;
  /* Altezza desiderata per il contenitore quadrato */
  overflow: hidden;
  /* Nasconde parte dell'immagine che supera le dimensioni */
  border-radius: 50%;
  /* Rendi il contenitore rotondo impostando il bordo arrotondato al 50% */
  display: flex;
  /* Utilizza il flexbox */
  justify-content: center;
  /* Centra orizzontalmente */
  align-items: center;
  /* Centra verticalmente */
  margin: 0 auto;
  /* Centra il contenitore orizzontalmente */
}

.profile-image img {
  width: 100%;
  /* Riempie completamente il contenitore quadrato */
  height: auto;
  /* Impedisce il ridimensionamento forzato dell'immagine in altezza */
}


.card p {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  /* Spaziatura tra l'immagine e la descrizione */
  color: grey;
}


.profile {
  padding: 40px;
  border-radius: 5px;
  background-color: #F5F5F5;
  box-shadow: 3px 3px 5px rgba(0.3, 0.2, 0.9, 0.7);
  /* Ombra */
  background-size: cover;
  width: 550px;
  height: 300px;
  transition: transform 0.3s ease;
}

.profile p {
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-weight: 900;
}

.profile img {
  border: 1px solid black;
  border-radius: 20px;
  max-width: 100%;
  /* L'immagine si adatterà alla larghezza massima del contenitore */
  height: auto;
  /* L'altezza verrà regolata proporzionalmente per mantenere l'aspetto originale */
}

.profile:hover {
  transform: scale(1.05);
  /* Zoom del 5% quando il cursore è sopra la card */
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Altezza minima della viewport del browser */
}


.title-header {
  color: #FFFFFF;
  font-weight: bold;
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.reservation-header {
  color: #1a2a6c;
  font-weight: bold;
}


.reservation-header {
  animation: none;
  /* Disabilita qualsiasi animazione */
}

/*--- PAGINA SHOW PARK ---*/
.show-park {
  padding: 20px;
  margin: 10px;
}

.show-park img {
  border-radius: 20px;
}

.show-park h3 {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.reservation-card {
  border: 2px solid #f0f0f0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font: bold;
}

input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-book {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-book:hover {
  background-color: #d9534f;
}


/*--- EDIT PROFILE */

.img-account-profile {
  height: 10rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  width: 500px;
}

.card .card-header {
  font-weight: 500;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Stile generale per i moduli */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile per i titoli dei moduli */
.form-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Stile per i campi del modulo */
.form-group {
  margin-bottom: 20px;
}

/* Stile per le etichette dei campi */
.form-label {
  font-weight: 500;
}

/* Stile per gli input dei campi */
.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

/* Stile per i pulsanti */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/*CREATE FORM*/

.create-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-card {
  background-color: #ffffff;
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  margin-top: 64px;
  margin-bottom: 20px;
  width: 700px;
}

.create-card h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  color: black;
}

.create-card label {
  display: block;
  margin-top: 10px;
}

.create-card input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.create-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 24px;
}

.create-card .create-btn:hover {
  background-color: #1a2a6c;
}


.hidden-checkbox {
  display: none;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-checkbox {
  flex-basis: calc(33.33% - 10px); /* Distribuisci su 3 colonne con 10px di spazio tra loro */
  margin-bottom: 10px; /* Distanza verticale tra le righe */
  cursor: pointer;
}

.custom-label {
  background-color: white;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-label:hover {
  border-color: #0056b3;
}

.hidden-checkbox:checked+.custom-label {
  border-color: #0056b3;
}

/* Aggiungi questo CSS al tuo file CSS o in linea nello stile della pagina */

.price-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Spazio tra il campo e altri elementi */
}

.price-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom:30px;
}

.price-input {
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: 128px; 
}

.price-btn{
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px; /* Spazio tra i pulsanti e il campo di input */
}


.price-btn:hover {
  background-color: #0056b3; /* Cambia colore al passaggio del mouse */
}

/* Rimuovi il pulsante up/down dell'input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}


