/* Stili di base del corpo del documento */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #1a2a6c, #caf9ff); /* Blu scuro a celeste molto chiaro */
  margin: 0;
  padding: 0;
  height: cover;
}


/* Stili per la navbar */
.navbar {
  overflow: hidden;
  padding: 40px 30px;
}

/* Posizionamento degli elementi sulla sinistra della navbar */
.nav-left {
  float: left;
  margin-left: 7.8%;
  margin-top: -15px
}

/* Posizionamento degli elementi sulla destra della navbar */
.nav-right {
  float: right;
  margin-right: 5%;
}

/* Stili per i link della navbar */
.navbar a {
  display: inline-block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  transition: border-bottom 0.3s;
}

/* Effetto hover per i link della navbar */
.navbar a:hover {
  border-bottom: 2px solid #caf9ff;
}

/* Contenitore principale che contiene il titolo, sottotitolo e barra di ricerca */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 100px 5% 100px 10%;
  margin: 0 auto;
}

/* Stili per i titoli */
h1 {
  font-size: 80px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  align-self: flex-start;
}

/* Animazione per la dissolvenza in entrata */
h1, h2, .search-bar {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.5s forwards 0.25s;
}

/* Keyframes per l'animazione */
@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Stili per il logo */
#site-logo {
  margin: 0;
  padding: 0;
  max-width: 85px; /* Dimensione massima del logo */
}

/* Stili per la barra di ricerca */
.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: auto;
  margin-top: 20px;
}

/* Stili per gli input e i select nella barra di ricerca */
.search-bar input, .search-bar select {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  flex: 1;
  width: 60%;
}

/* Stili per il bottone di ricerca */
.search-bar button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s ease; /* Prepara l'animazione */
  color: #1a2a6c
}


/* Effetto hover per il bottone di ricerca */
.search-bar button:hover {
  transform: rotate(10deg) scale(1.1); /* Ruota l'icona quando si passa il mouse sopra */
  color: #fff;
}